body{
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a{
    text-decoration: none;
}


// 共同的header
.answer-header{
    h2{
        margin-right: 47px;
    }
    a{
        color: $main-textcolor;
        &:hover{
            color: $special-textcolor;
        }
        img{
            width: 24px;
            height: 24px;
        }
    }
    
    .answer-right{
        img{
            width: 24px;
            height: 24px;
        }
    }
}