.wrap{
    max-width: 1280px;
    margin: 0 auto;
    font-family: $font-Lato;
    }
.container{
    background: $background;
    height: 100vh;
    flex: 0 0 20%;
    padding: 0;
}
.aside{
    height: 100vh;
    .title{
        @include flexCenter;
        @include mb(32px)
    }
    .user-pic img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    @include mr(16px);
  }
  .section{
    font-size: $font-d;
    &-list{
        @include mb(29px);
        @include border-left;
        &:hover{
            color: $secondary;
        }
    }
    .icon{
        font-size: $font-m;
        width: 24px;
        @include mr(16px);
    }
  }
  .user{
     margin-top: auto;
  }
 
}
.main{
    flex: 0 0 80%;
    height: 100vh;
    

}