.answer-all{

    .header{
        width: 296px;
        background-color: $main-bgcolor;
        .logo{
            background-image: url(../images/logo-ANSWER.svg);
            background-size: cover;
            background-position: center;
            width: 150px;
            height: 32px;
        }

        .nav{
            li{
                padding: 12px 0;
                a{
                    color: $main-textcolor;
                    font-weight: $fw-900;
                    position: relative;
                    // 這邊要想如何讓點選可以固定那個顏色????
                    &:hover{
                        color: $special-textcolor;
                        border-left: 4px solid $special-textcolor;
                    }
                    i{
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

        .header-bottom{
            img{
                width: 50px;
                height: 50px;
                border-radius: 24px;
            }
            p{
                color: $secondary-textcolor;
            }
        }
    }
    
}



.main{
    width: 83%;
}


