// modal 共用填寫的表單
.addnewadmin-modal{
    .modal-header{
        border-bottom: 0;
    }
    p{
        font-weight: $fw-900;
        font-size: 20px;
    }
    .modal-body{
        padding: 1rem 1rem 0.5rem 1rem;
        input{
            height: 51px;
        }
        .form-control{
            border-radius: 0;
            border: 1.5px solid $main-textcolor;
        }
    }
    .modal-middle{
        border-top: 1px solid #dee2e6;
        p{
            &:first-child{
                margin-bottom: 1px;
            }
        }
        .unverified-text{
            font-size: 16px;
            line-height: 33px;
            img{
                width: 22px;
                height: 19px;
            }
        }
        form{
            position: relative;
            top: -8px;
            input{
                height: 51px;
                width: 93%;
                color: $special-textcolor;
                font-weight: 600;
                
            }
        }
        
    }
    .modal-bottom{
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        select{
            height: 51px;
            width: 93%;
            border: 1px solid $main-textcolor;
        }
    }
    // checkbox的外框粗
    .modal-checkbox{
        input{
            border: 2px solid black;
        }
    }
    .modal-footer{
        border-top: 0;
        margin-top: 38px;
        .btn-outline{
            border: 2px solid $special-bgcolor;
            color: $special-textcolor;
            font-weight: 600;
            &:hover{
                background-color: $special-bgcolor;
                color: white;
            }
        }
        .btn-fill{
            background-color: $special-bgcolor;
            color: #fff;
            font-weight: 600;
            &:hover{
                border: 2px solid $special-bgcolor;
                color: $special-textcolor;
                background-color: #fff;
            }
        }
    }
}


// edit部分改一下內容
.edit-modal{
    .modal-body{
        .form-control{
            border: 0;
        }
        input{
            background-color: $main-bgcolor;
        }
    }
    .modal-middle{
        p{
            &:last-child{
                font-size: 16px;
                font-weight: 400;
                padding-right: 20px;
            }
        }
        span{
            color: $special-bgcolor;
        }
        input{
            height: 51px;
            width: 93%;
            color: $second-bgcolor;
            background-color: #fff;
            position: relative;
            top: -8px;
        }
    }
    .modal-checkbox{
        border-bottom: 1px solid #dee2e6;
    }
    .modal-deactivate{
        .deacivate-cannot{
            margin-bottom: 18px;
            p{
                font-size: 16px;
                font-weight: 500;
                line-height: 33px;
            }
            img{
                width: 22px;
                height: 19px;
            }
        }
        input{
            width: 93%;
            height: 51px;
            border: 2px solid #DC3545;
            font-weight: 600;
            background-color: #fff;
        }
    }
    .modal-footer{
        .btn-outline{
            border-color: $second-bgcolor;
        }
    }
}