
.admin-list{
    color: $main-textcolor;
    table{
        // 第一排主題
        th{
            font-weight: $fw-900;
            img{
                width: 18px;
                height: 18px;
            }            
        }
        // 之後細的文字
        tr{
            border-color: $second-bgcolor;
            td{
                padding: 12px 0;
                a{
                    color: $main-textcolor;
                    &:hover{
                        color: $special-textcolor;
                    }
                }
            }
            // 眼睛的Modal
            .eye-modal{
                .modal-content{
                    .modal-header{
                        width: 141px;
                        height: 141px;
                        // margin-bottom: 0;
                        margin: 2rem 1.5rem 2rem 2rem;
                        // padding: 2rem 1.5rem 2rem 2rem!important;
                        padding: 0;
                       img{
                           width: 141px!important;
                           height: 141px!important;
                       }
                    }
                    .eyemodal-inner{
                        padding: 0;
                        // padding: 2rem 2rem 2rem 0 !important;
                        margin: 2rem 2rem 2rem 0;
                        .p-fw-600{
                            font-weight: 600;
                        }
                       .p-grey{
                                color: $secondary-textcolor;
                        }
                        .modalbody-bottom{
                            a{
                                span{
                                    font-size: 24px;
                                }
                                .expand_more{
                                    display: none;
                                }
                                .expand_less{
                                    display: inline-block;
                                }
                                

                            }
                            
                        }
                        .collapsed{
                            .expand_more{
                                display: inline-block;
                            }
                            .expand_less{
                                display: none;
                            }
                        }
                        .coll-verifiedbtn{
                            .btn{
                                border-radius: 0;
                                padding: 0 0;
                            }
                        }
                        
                    }
                }
                    
            }
            
        }
    }
    nav{
        margin-top: 128px;
        .pagination{
            border:1px solid $special-bgcolor;
            .active{
                .page-link{
                    background-color: $special-bgcolor;
                    color: #fff;
                }
            }
            .page-link{
                color: $main-textcolor;
            }
        }
        
    }
}