.header{
    @include mb(48px);
    .title{
        font-size: $font-m;
        @include mr(47px);
    }
    .subtitle{
        font-size: $font-d;
        .add-icon{
            color: $secondary;
            @include mr(8px);
        }
    }
    .admin-aside{
        .notice{
            @include pl(26px);
        }
    
    }
}
.adminUser{
    .console{
        width: 100%;
        text-align: left;
    }
    th,td{
        width: 30%;
        &:nth-child(1){
            width: 10%;
        }
        &:nth-child(5){
            width: 7%;
        }
        &:nth-child(4){
            width: 23%;
        }
    }
    th{
        padding-bottom: 4px;
    }
    td{
        padding-top: 19px;
        padding-bottom: 17px;
        &:nth-child(4):hover{
            cursor: pointer;
        }
    }
    .user_row:hover{
        background: $forth;
        transition: 0.5s;
    }
    .view{
        margin-right: 25px;
    }
}
.cardView{
    width: 100%;
    padding: 32px;
    .card_header{
        width: 30%;
        margin-right: 7%;
        .card-pic img{
            width: 141px;
            height: 141px;
        }
    }
    .card_body{
        width: 63%;
        .userInfo{
            width: 90%;
        }
        .off-btn{
            width: 10%;
        }
        .box{
            width: 64px;
            background: #F8F9FA;
            border-radius: 2px;
            text-align: center;
        }
    }
    .card_footer{
        width: 100%;
    }
}
.modal-content{
    width: 96.5%;
}
.newAdmin{
    width: 100%;
    padding: 32px;
    .card_body{
        .verify .btn{
            padding: 12.5px 0; 
            border: 1px solid $gray-400;
            &:hover{
                color:#fff;
                background:$secondary;
            }
            &:focus{
                box-shadow: 0 0 0 3px $secondary;
            }
        }
    }
    .card_footer{
        .btn-outline-success{
            width: 113px;
        }
        .btn-success{
            width: 93px;
        }
    }
}
//edit admin

.editAdmin{
    width: 100%;
    padding: 32px;
    .card_body{
        .btn{
            padding: 12.5px 0; 
            border: 1px solid $gray-400;
        }
        .verify .btn{
            &:hover{
                color:$gray-400;
                cursor: default;
            }
            &:focus{
                box-shadow: none;
            }
        }
        .deactivate .btn{
            border: 1px solid $danger;
            &:hover{
                color: #fff;
                background:$danger;
            }
            &:focus{
                box-shadow: 0 0 0 3px $danger;
            }
        }
    } 
    .card_footer{
        .btn-outline-success{
            width: 113px;
        }
        .btn-success{
            width: 116px;
            text-align: center;
        }
    }
}



.pagination-own{
    .pagination-list a{
        display: inline-block;
        padding: 6px 12px;
        &:hover{
            background: $secondary;
            color: #fff;
        }
    }
    .pagination-list{
        border-left: 1px solid  $secondary;
        border-top: 1px solid  $secondary;
        border-bottom: 1px solid  $secondary;
        &:last-child{
            border-right: 1px solid  $secondary;
        }
    }   
}