// padding
$p-y: 40px 0 32px 0;
$p-l-aside: 30px;
$p-y-main: 32px 24px;
$p-y-table: 19px 0 17px 0;

// margin
@mixin mb ($px) {
    margin-bottom: $px;
}
@mixin mr ($px) {
    margin-right: $px;
}
//padding
@mixin pl ($px) {
    padding-left: $px;
}
// color
$background: #F8F9FA;
$primary: #000;
$secondary: #198754;
$third: #6C757D;
$forth:#F8F9FA;
$danger: #DC3545;
$gray-600:#6C757D;
$gray-900:#212529;
$gray-400:#CED4DA;
$gray-100: #F8F9FA;

//font-size
$font-s: 14px;
$font-d: 16px;
$font-s2: 20px;
$font-m: 24px;

// font-family
$font-Lato: 'Lato', sans-serif;

